  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
  }
  
  /*--- Header ---*/
  .header {
    background-color: #ffffff;
    border-bottom: 1px solid #d6d6d6;
    padding: 20px 0;
  }

  .header .logo {
    display: inline-block;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #ef0491;
    text-transform: uppercase;
  }
  
  /*--- Banner ---*/
  .banner {
    background-image: url('orkut-logo.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*--- Conteúdo ---*/
  .content {
    background-color: #ffffff;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #d6d6d6;
  }

  .content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ef0491;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 50px;
  }

  .content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

/*--- Footer ---*/
.footer {
background-color: #333333;
color: #ffffff;
padding: 30px 0;
font-size: 16px;
text-align: center;
}

.footer p {
margin-bottom: 20px;
}
